.flexapp {
  display: flex;
  /* flex-direction: row;
  flex-grow: 1; */
  background-color: #ccc;
  /* height: 80px; */
  /* display: flex;
  justify-content: flex-start;
  align-items: center; */
}

.toolbar {
  margin: 2px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .contents {
   flex-grow: 1;
  left: 0;
  top: 100px;
  right: 0;
  bottom: 0;
  position: relative;
  height: 100%;
  border: 1px solid #ddd; 

  top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid #555;
  box-sizing: border-box;
} */

.flexlayout__layout {
  top: 120px;
  overflow: visible;
}
